<!doctype html>
<head></head>
<body >
<table cellpadding="0" cellspacing="0" style="font-family:'돋움', arial; color:#5a5a5a; font-size:14px;">
    <tr>
        <td ><img src="{main_url}/images/etc/mail_02_01.jpg" alt="고객님께서요청하신임시비밀번호안내입니다." width="770" height="379" border="0" usemap="#Map"  style="padding:0; margin:0; vertical-align:top" /></td>
    </tr>
    <tr>
        <td style="vertical-align:top">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td ><img src="{main_url}/images/etc/mail_01_02.jpg" alt="왼쪽이미지" style="vertical-align:top" /></td>
                    <td style="vertical-align:top; padding:0; margin:0;">
                        <table width="640"  cellpadding="0" cellspacing="0" style="padding:0; margin:0;"  >
                            <tr>
                                <td style="vertical-align:top"><img src="{main_url}/images/etc/mail_02_02.jpg" width="139" height="29" alt="임시비밀번호안내" /></td>
                            </tr>
                            <tr>
                                <td height="3" bgcolor="#646464" style="vertical-align:top"></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" >
                                        <tr>
                                            <td width="132" ><img src="{main_url}/images/etc/mail_01_12.jpg" alt="이름" width="132" style="vertical-align:top" /></td>
                                            <td style="text-align:left; padding-left:21px;">{name}</td>
                                            <td width="135"><img src="{main_url}/images/etc/mail_01_14.jpg" alt="아이디" width="135" style="vertical-align:top" /></td>
                                            <td style="text-align:left; padding-left:21px;">{id}</td>
                                        </tr>
                                        <tr>
                                            <td height="1" bgcolor="#e6e6e6" ></td>
                                            <td colspan="3" height="1" bgcolor="#e6e6e6" ></td>

                                        </tr>
                                        <tr>
                                            <td><img src="{main_url}/images/etc/mail_02_03.jpg" width="132" height="35" style="vertical-align:top"></td>
                                            <td colspan="3" style="text-align:left; padding-left:21px;">{password}</td>
                                        </tr>
                                    </table>						</td>
                            </tr>
                            <tr>
                                <td height="1" bgcolor="#e6e6e6" ></td>
                            </tr>
                            <tr>
                                <td style="text-align:center; padding:30px 0 0px 0; vertical-align:top" ><a href="{main_url}"><img src="{main_url}/images/etc/mail_01_21.jpg" alt="소람한방병원바로가기"  border="0"></a></td>
                            </tr>
                        </table>				</td>
                    <td ></td>
                </tr>
            </table>	</td>
    </tr>
    <tr>
        <td><img src="{main_url}/images/etc/mail_01_24.jpg" border="0" usemap="#Map2" style="vertical-align:top" /></td>
    </tr>

</table>
<body>

<map name="Map"><area shape="rect" coords="573,54,741,78" href="{main_url}" target="_blank">
</map>
<map name="Map2"><area shape="rect" coords="220,55,256,78" href="{main_url}"><area shape="rect" coords="43,96,215,180" href="{main_url}"></map></html>